---
// Fundations
import Text from "@/components/fundations/elements/Text.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
// Data
const speaking = [
  {
    period: "2018",
    title: "First Place in ICT AR Competition Competition of Science, Arts, and Sports (KS2O)",
  },
  {
    period: "2019",
    title: "MakeX Robotic Competition Malaysia Champion",
  },
];
---

<section>
  <Wrapper variant="base" class="py-12">
    <Text
      tag="h3"
      variant="textBase"
      class="font-semibold text-zinc-900 dark:text-zinc-200"
    >
      Achievements
    </Text>

    <div class="flex flex-col gap-3 mt-8">
      {
        speaking.map((work, index) => (
          <div class="grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-5">
            {/* Period */}
            <Text tag="span" variant="textSM" class="font-medium text-zinc-500">
              {work.period}
            </Text>

            {/* Work Content */}
            <div class="lg:col-span-4">
              <Text
                tag="h4"
                variant="textBase"
                class="font-semibold text-zinc-900 dark:text-zinc-200 flex justify-between w-full"
              >
                {work.title}
              </Text>
            </div>
          </div>
        ))
      }
    </div>
  </Wrapper>
</section>
